@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@media (min-width: 1200px) {
        #quantity-chart{
            width: 900px !important;
    }
}

@media (min-width: 992px) {
    .card-box{
        margin-top:-100px !important;
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) {

}

@media screen and (max-width: 992px) {
    .personrow {
        width: 500px !important;
        height: 95px;
        margin: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    }
    .patientfsize{
        font-size: 0.9rem !important;
    }
    .label-blue {
        font-size: 1.2rem !important;
    }
    .card-box{
        margin-top:-180px
    }
}

@media screen and (max-width: 600px) {
    .personrow {
        width: 370px !important;
        height: 95px;
        margin: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .patientfsize {
        font-size: 0.6rem !important;
    }

    .label-blue {
        font-size: 0.9rem !important;
    }

    #container-calendar {
        padding-left: 0;
        padding-right: 0;
    }
    #calendar .table td, .table th {
        padding: .2rem !important;
    }
    .card-box{
        margin-top:-180px
    }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}
body {
    background-color: #B8BFCE !important;
    font-size: 0.9rem;
}
/*----------------page-wrapper----------------*/

.page-wrapper {

}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper .theme.chiller-theme {
    background: #2d2d2d;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
    }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0;
    width: 35px;
    transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
    left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.sidebar-footer > a .notification {
    position: absolute;
    top: 0;
}

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
}

.page-wrapper .page-content > div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #154360;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #525965;
}
::-webkit-scrollbar-thumb:active {
    background: #525965;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #211F54;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #D0D3D4;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #D0D3D4;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #fff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #1D1A47;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #D0D3D4 ;

}

.chiller-theme .sidebar-footer {
    background: #1D1A47;
    box-shadow: 0px -1px 5px #fff;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

/* VARIABLES ==================== */
/* BASE ==================== */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e0e0e0;
}
body ul {
    padding: 0;
    list-style-type: none;
}

img {
    width: 75px;
    margin: 7px 5px 5px 5px;
    border-radius: 5px;
}

button {
    border: none;
    font-size: 1em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
button:focus {
    outline: 0;
}

/* LAYOUT ==================== */
.l-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #242D33;
}
.l-nav__container, .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
@media screen and (max-width: 1050px) {
    .l-nav__container, .l-container {
        width: 95%;
    }
}
.l-nav__button {
    color: #e0e0e0;
    background-color: #3392CC;
    padding: 10px;
    text-align: center;
    width: 30%;
    border-radius: 5px;
}
.l-nav__button:hover {
    background-color: #2e83b8;
    color: white;
}


/** Patients list */


.padding40{
    padding-top: 40px;
}

.paddinglr0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.personrow {
    width: 950px;
    height: 95px;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.label{
    font-weight: bold;
    font-size: 1.1em;
}

.person-name{
    text-transform: uppercase;
    font-size: 1.3em;
}

.label-blue {
    color: #8edfff;
    font-size: 1rem;
}

.patientfsize{
    font-size: 1.2rem;
}

#add-new-patient{
    width: 240px;
    bottom: 0;
}

#add-new-patient button{
    padding: 7px 0;
}

#inputPatient{
    padding-left: 5px;
    width: 200px;
}
/** Patients list **/

/** LOGIN **/


.card {
    background-color: transparent !important;
}

.vertical-center {
     min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
     min-height: 100vh; /* These two lines are counted as one :-)       */

     display: flex;
     align-items: center;
 }

.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

.login h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.main-section {
    margin: 0 auto;
    padding: 0;
}

#loginbox {
    /*background: rgba(0, 0, 0, 0.5);*/
    background: #fff;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #AFB4B7;

}

.upper-login-border  {
    height: 30px;
    width: 100%;
    background: #211F54;
    margin-bottom: 40px;
    border: 0 solid #AFB4B7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-image {
    margin-top: -60px;
    margin-bottom: 45px;
}

#formmargin1{
    margin-bottom: 25px;
}

#formmargin2{
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #AFB4B7;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 36px;
}

#formmargin1:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: "\f007";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 4px;
    color: #555e60;
}

#formmargin2:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: "\f023";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 4px;
    color: #555e60;
}

.submit-button {
    width: 50%;
    margin: 15px 0 45px;
    background-color: #211F54;
    color: #fff;
    font-size: 19px;
    border: 2px solid #fff;
    padding: 7px 15px;
    border-radius: 7px;
}

.submit-button:hover{
    background-color: #00509b;
    color: #fff;
}

#login-details{
    padding: 0 20px;
}

/*
*  === STOCK MANAGEMENT ===
*/

#stock-box{
    width:100%;
}

.result-padding-top{
    padding-top: 16px;
}

#value1{
    margin-left: 10px;
}

#value2{
    margin-left: 10px;
}

#stock-box-margin40-1{
    width:183px;
}

#stock-box-margin40-2{
    width: 183px;
}

#stock-box-margin40-3{
    margin-left: 20px;
}

#list-group-mtop{
    margin-top:30px;
}

#help-margin-40{
    margin-left: 40px;
}

#stock-but-margin1{
    margin-left: 40px;
}

#stock-but-margin2{
    margin-left: 40px;
}

#stock-box-margin40-4 {
    margin-top:30px;
    width: 50%;
}

.b-margin-10 {
    margin-right: 10px;
}

/** ==CHARTS==**/

.main-chart{
    margin-top: 25px;
}

/** == CALENDAR ==**/

#calendar th:nth-of-type(7),td:nth-of-type(7) {color: blue;}
#calendar th:nth-of-type(1),td:nth-of-type(1) {color: red;}

#calendar th,td {

}

#calendar {
    background: #fff;
    border-radius: 25px;
    border-top: 1px darkgrey;
}


/** == CALENDAR ==**/

#map-container {
    height: 100vh;
}

.btn-circle {
    position: relative;
    top: 0;
    width: 43px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DF;
    border: none;
    border-radius: 50% !important;
}



/** == MAP == **/

.my-row {
    height: 100%;
}

#map-box {
    background: rgba(255, 255, 255, 0.38);
    padding: 5px;
}

#map-box p {
    font-size: 1rem;
}

.side-row {
    border: 1px rgba(255, 255, 255, 0.78) solid;
    min-width: 116px;
}

#pharmacy-map {
    position: relative;
    top: -80px;
}

#map-box {
    position: relative;
    top: -80px;
}
.map-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 60%; /* desired aspect ratio */
    position: relative;
}

.googlemap {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.body-white {
    background: #fff;
}

.no-border{
    border: none !important;
}